.where-to {
	margin:0 20%;
}
ul {
	list-style: none;
	padding: 0;
}
li {
	cursor: pointer;
	display: block;
	margin: 0 0 .5em;
	padding-left: 1em;
}
label {
	cursor: pointer;
	display: block;
	width: 20em;
}
.where-to li {
	display: inline-block;
	padding: 0;
}
.top-places {
	margin-top: 1em;
}

.reset-votes {
	margin-bottom: 1em;
}