.where-to {
	margin:0 20%;
}
ul {
	list-style: none;
}
li {
	cursor: pointer;
	display: inline-block;
	margin: 0 0 .5em;
}
label {
	cursor: pointer;
	display: block;
	width: 20em;
}
.top-places li {
	display: block;
	margin: 0 0 .5em;
}
